[submodule "motion-diffusion-model"]
	path = motion-diffusion-model
	url = https://github.com/GuyTevet/motion-diffusion-model.git
[submodule "pyskl"]
	path = pyskl
	url = https://github.com/kennymckormick/pyskl.git
